# langchain
langchain
langchain-google-genai
langchain-core
langchain-community
langchain-text-splitters
langchain-openai

# langgraph
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres

# dotenv
dotenv

# UI
streamlit