# langchain
langchain
langchain_google_genai
langchain-core
langchain-community
langchain-text-splitters

# langgraph
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres

# dotenv
dotenv

# UI
streamlit